.contact-container {
  padding-top: 110px;
  max-width: 1320px;
  color: #fff;
  margin: auto;
}

.image-container {
  width: 100%;
  background-image: url("../../public/assets/login.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-info {
  width: 100%;
  background-color: rgba(16, 45, 49, 0.7);
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.contact_wrapper {
  display: flex;
  width: 100%;
}

.contact-details,
.contact-methods {
  flex: 1;
  padding: 20px;
}

.location,
.contact-method {
  margin-bottom: 20px;
}

.contact-method {
  p {
    margin: 5px 0;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#contact {
  padding-bottom: 10px;
}

.google-map-container {
  width: 100%;
  max-width: 100%;
}
